/* Убираем встроенный крестик у <input type="search"> */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-moz-search-clear-button {
  display: none;
}

/* Можно добавить кастомные стили для фокуса или placeholder */
input[type="search"]::placeholder {
  color: #9C9C9C;
  opacity: 1;
}
